<div>
	<div class="form-check ml-3">
		<label class="form-check-label" for="Container_<#DATAROW field='DataRow_ID'>">
			<input class="form-check-input" type="checkbox" name="Request" id ="Container_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='DataRow_ID'>" <#DATAROW field='Aria-Described-By'> <#DATAROW field='Container_Checkbox_State'>><#DATAROW field="instance_top_container_display_string">
		</label>
		<#DATAROW field="Container_Message">
	</div>
	<input type="hidden" name="instance_is_representative_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_is_representative'>">
	<input type="hidden" name="instance_last_modified_by_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_last_modified_by'>">
	<input type="hidden" name="instance_instance_type_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_instance_type'>">
	<input type="hidden" name="instance_created_by_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_created_by'>">
	<input type="hidden" name="instance_container_grandchild_indicator_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_container_grandchild_indicator'>">
	<input type="hidden" name="instance_container_child_indicator_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_container_child_indicator'>">
	<input type="hidden" name="instance_container_grandchild_type_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_container_grandchild_type'>">
	<input type="hidden" name="instance_container_child_type_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_container_child_type'>">
	<input type="hidden" name="instance_container_last_modified_by_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_container_last_modified_by'>">
	<input type="hidden" name="instance_container_created_by_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_container_created_by'>">
	<input type="hidden" name="instance_top_container_ref_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_ref'>">
	<input type="hidden" name="instance_top_container_long_display_string_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_long_display_string'>">
	<input type="hidden" name="instance_top_container_last_modified_by_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_last_modified_by'>">
	<input type="hidden" name="instance_top_container_display_string_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_display_string'>">
	<input type="hidden" name="instance_top_container_restricted_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_restricted'>">
	<input type="hidden" name="instance_top_container_created_by_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_created_by'>">
	<input type="hidden" name="instance_top_container_indicator_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_indicator'>">
	<input type="hidden" name="instance_top_container_barcode_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_barcode'>">
	<input type="hidden" name="instance_top_container_type_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_type'>">
	<input type="hidden" name="instance_top_container_uri_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_uri'>">
	<input type="hidden" name="instance_top_container_location_note_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_location_note'>">
	<input type="hidden" name="instance_top_container_location_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_location'>">
	<input type="hidden" name="instance_top_container_location_id_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_location_id'>">
	<input type="hidden" name="instance_top_container_location_building_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_location_building'>">
	<input type="hidden" name="instance_top_container_collection_identifier_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_collection_identifier'>">
	<input type="hidden" name="instance_top_container_collection_display_string_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_collection_display_string'>">
	<input type="hidden" name="instance_top_container_series_identifier_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_series_identifier'>">
	<input type="hidden" name="instance_top_container_series_display_string_<#DATAROW field='DataRow_ID'>" value="<#DATAROW field='instance_top_container_series_display_string'>">
</div>